#  -o PreferredAuthentications=password -o PubkeyAuthentication=no
Host rocky1 10.80.5.166
    Hostname 10.80.5.166
    Identityfile ~/.ssh/ansible1
    User rocky

Host rocky2 10.80.5.11
    Hostname 10.80.5.11
    Identityfile ~/.ssh/ansible1
    User rocky

Host rocky3 10.80.4.172
    Hostname 10.80.4.172
    Identityfile ~/.ssh/ansible1
    User rocky

Host tableau 10.80.50.88
    Hostname 10.80.50.88
    User ec2-user

# advent@ca01dns01
Host 10.231.22.99
    Hostname 10.231.22.99
    User root
    HostKeyAlgorithms +ssh-dss

Host dev-usw-r5-def-h5 10.80.5.144
    Hostname 10.80.5.144
    User etadm
    IdentityFile ~/.ssh/ansible1

Host newnetapps1
    Hostname 10.231.22.223
    KexAlgorithms +diffie-hellman-group1-sha1
    HostkeyAlgorithms ssh-dss,ssh-rsa
    Ciphers 3des-cbc,aes128-ctr,aes192-ctr,aes256-ctr
    User root

Host netapps1
    Hostname 10.231.22.240
    KexAlgorithms +diffie-hellman-group1-sha1
    HostkeyAlgorithms ssh-dss,ssh-rsa
    Ciphers 3des-cbc,aes128-ctr,aes192-ctr,aes256-ctr
    User klieng

Host netapps2
    Hostname 10.231.22.241
    KexAlgorithms +diffie-hellman-group1-sha1
    HostkeyAlgorithms ssh-dss,ssh-rsa
    Ciphers 3des-cbc,aes128-ctr,aes192-ctr,aes256-ctr
    User klieng

Host 10.80.200.185
    User ec2-user
    Identityfile ~/.ssh/cmichael.pem

Host 10.231.22.22 10.231.22.23
    User klieng

Host racktables 10.231.22.38
    Hostname 10.231.22.38
    User etadm

    ## EVload servers
    #Host 10.231.34.40 10.231.34.41 10.231.20.182 10.231.20.183 10.231.20.184 10.231.20.185 10.231.20.186 10.231.20.187 10.231.20.188 10.231.20.189 10.231.20.190
    #    User evenue
    #    #IdentityFile ~/.ssh/key_forward

# testing qaequery site8
Host 10.231.20.108
    Hostname 10.231.20.108
    PubkeyAcceptedKeyTypes +ssh-rsa
    KexAlgorithms +diffie-hellman-group-exchange-sha256
    HostkeyAlgorithms +ssh-rsa
    PubkeyAcceptedAlgorithms +ssh-rsa
    StrictHostKeyChecking no
    User etadm

Host lab-dev2-def-gdb001
    Hostname 10.231.23.73
    User root

Host clemson
    Hostname s-48e262575f54489d9.server.transfer.us-west-2.amazonaws.com
    User clemson
    #PubkeyAcceptedKeyTypes +ssh-rsa
    IdentityFile ~/.ssh/app_manager

Host gitlab300
    Hostname 10.231.22.39
    User root

Host gitlab05
    Hostname 10.231.22.65
    User root

# personal keys added
#Host 10.231.23.100 10.231.23.101 10.231.23.102 10.231.23.103 10.231.23.104 10.231.22.102 10.231.20.11
#  User klieng

# NOT WORKING
Host aprod-jasper-jump
    Hostname 10.131.2.78
    #IdentityFile ~/.ssh/key_forward
    User ec2-user

Host j-jasper-ce-1
    Hostname 10.131.1.56

Host j-jasper-ce-2
    Hostname 10.131.1.145

Host php7 10.80.112.229
    Hostname 10.80.112.229
    User centos
    #IdentityFile ~/.ssh/jump-box

Host matillion 10.80.50.109
    Hostname 10.80.50.109
    #IdentityFile ~/.ssh/jump-box
    User ec2-user

Host grafana 10.80.40.218
    Hostname 10.80.40.218
    User ec2-user
    #IdentityFile ~/.ssh/aws-jasper

    #da = development aws
Host jasper-dev 10.80.12.136
    Hostname 10.80.12.136
    User centos

Host jasper-qfnq
    Hostname 10.80.13.54
    User centos


Host 10.231.22.114
    Hostname 10.231.22.114
    KexAlgorithms +diffie-hellman-group1-sha1
    #PubkeyAcceptedKeyTypes +ssh-rsa
    #KexAlgorithms +diffie-hellman-group-exchange-sha256
    #HostkeyAlgorithms +ssh-rsa
    #PubkeyAcceptedAlgorithms +ssh-rsa



    # Host prodcas
    #  #ProxyCommand ssh -T 10.80.5.197 'nc %h %p'
    #  #ProxyCommand ssh -W 10.80.5.36:%p 10.80.5.197
    #  User centos
    #  #IdentityFile ~/.ssh/key_forward
    #  ProxyCommand ssh aprod-jasper-jump -W %h:%p
    #  LogLevel VERBOSE

    # working jump server
    # Set up basic bastion
    #Host testBastion
    #  Hostname 10.80.5.197
    #  User klieng
    #  #IdentityFile ~/.ssh/key_forward
    #
    #Host testBastionJump
    #  Hostname 10.80.5.36
    #  User klieng
    #  proxycommand ssh [bastion server] -W [target server]:[target port]
    #  ProxyCommand ssh testBastion -W %h:%p

Host application-manager
    Hostname 10.231.22.196
    MACs hmac-sha2-512

Host github.com
    #IdentityFile ~/.ssh/id_rsa_github_kietlieng
    ##IdentityFile ~/.ssh/jump-box
    User git

Host rancher
    Hostname 10.80.12.51
    User centos
    #IdentityFile ~/.ssh/key_forward

Host j-matillion-ETL 10.131.1.129
    Hostname 10.131.1.129

Host j-matillion-eloqua 10.131.1.41
    Hostname 10.131.1.41

Host j-matillion-eloqua-full 10.131.1.26
    Hostname 10.131.1.26

Host j-matillion-eloqua-incremental 10.131.1.19
    Hostname 10.131.1.19

Host j-ranch jranch1
    Hostname 10.131.1.77

Host j-ranch2
    Hostname 10.131.2.196

Host j-ranch3
    Hostname 10.131.4.120

Host j-adm62
    #Hostname sys62.oc2.evenue.net
    Hostname 172.31.5.62

Host adm22
    Hostname ad22
    User evenue
    ProxyCommand ssh adm21 -W %h:%p

Host adm21
    Hostname 172.31.1.21
    User etadm

Host sys61
    Hostname 172.31.5.61
    User advent

Host j-adm192
    Hostname ca01-ans-adm192.oc2.evenue.net
    User root

Host j-adm193
    Hostname 172.31.5.193

Host j-kube1
    User ec2-user
    Hostname 172.31.4.41

Host j-kube2
    User ec2-user
    Hostname 172.31.4.42

Host j-kube3
    User ec2-user
    Hostname 172.31.4.43

Host j-h119 172.31.5.119
    Hostname 172.31.5.119
    User etadm

Host j-h173 172.31.61.173
    Hostname 172.31.61.173
    User etadm

Host j-h174 172.31.61.174
    Hostname 172.31.61.174
    User etadm

Host j-h183 172.31.61.183
    Hostname 172.31.61.183
    User etadm

Host j-h18 172.31.61.18
    Hostname 172.31.61.18
    User etadm

Host j-h19 172.31.61.19
    Hostname 172.31.61.19
    User etadm

Host j-h159 172.31.61.159
    Hostname 172.31.61.159
    User etadm

Host j-h160 172.31.61.160
    Hostname 172.31.61.160
    User etadm

Host j-h184
    Hostname 172.31.61.184
    User etadm

Host j-h202
    Hostname 172.31.61.202
    User etadm

Host j-h203
    Hostname 172.31.61.203
    User etadm

Host j-h204
    Hostname 172.31.61.204
    User etadm

Host j-h201
    Hostname 172.31.61.201
    User etadm

Host j-h221
    Hostname 172.31.61.221
    User etadm

Host j-h222
    Hostname 172.31.61.222
    User etadm

Host j-h223
    Hostname 172.31.61.223
    User etadm

Host jadm-docker jadm-adm191 172.31.5.191
    User root
    Hostname 172.31.5.191

Host j-db-server 172.31.160.113
    User etadmin

    # jump to production ansible server
Host jumper prod-ansible 172.31.5.192
    Hostname 172.31.5.192
    # need this to match ssh-ed25519 authentication key
    PubkeyAcceptedKeyTypes +ssh-rsa
    StrictHostKeyChecking no
    User etadm

Host prod-docker 172.31.5.191
    Hostname 172.31.5.191
    User etadm

Host jroot-adm20 172.31.1.20
    Hostname 172.31.1.20
    User root

    # ??
Host jumper2 172.31.5.133
    Hostname 172.31.5.133
    User etadm

    #Host qfns-usw-r7-def-h7
    #  Hostname 10.231.20.44
    #  KexAlgorithms +diffie-hellman-group1-sha1
    ##  HostkeyAlgorithms ssh-dss,ssh-rsa
    #  User etadm

Host klocal
    Hostname 192.168.0.11
    User kietlieng

    ## ssc-react-backend-qfns / ssc-react-backend-dev
    #Host 10.80.68.75 10.80.74.157
    #    User ec2-user
    #    #IdentityFile ~/.ssh/devops-ec2-launch-key.pem

Host 10.80.71.144
    User ec2-user
    IdentityFile ~/.ssh/devops-ec2-launch-key.pem

Host con-sf-1 10.80.80.33
    Hostname 10.80.80.33
    User centos

Host con-sf-2 10.80.80.96
    Hostname 10.80.80.96
    User centos

Host con-sf-3 10.80.80.112
    Hostname 10.80.80.112
    User centos

Host con-sf-4 10.80.151.90
    Hostname 10.80.151.90
    User centos

Host con-tds-1 10.80.82.123
    Hostname 10.80.82.123
    User centos
    #IdentityFile ~/.ssh/jump-box

Host con-tds-2 10.80.83.123
    Hostname 10.80.83.123
    User centos
    #IdentityFile ~/.ssh/jump-box

Host con-tds-3 10.80.82.225
    Hostname 10.80.82.225
    User centos
    #IdentityFile ~/.ssh/jump-box

Host j-dns2out 172.31.24.70
    KexAlgorithms +diffie-hellman-group1-sha1
    HostKeyAlgorithms +ssh-rsa
    Hostname 172.31.24.70
    User advent

Host j-dns1out 172.31.34.51
    KexAlgorithms +diffie-hellman-group1-sha1
    HostKeyAlgorithms +ssh-rsa
    Hostname 172.31.34.51
    User advent

Host jadm-dns1in 172.31.1.27
    User root
    Hostname 172.31.1.27

Host j-con-sf-1 10.131.2.116
    Hostname 10.131.2.116

Host j-con-sf-2 10.131.2.68
    Hostname 10.131.2.68

Host j-con-sf-3 10.131.2.153
    Hostname 10.131.2.153

Host j-con-kafka-1 172.31.61.15
    #pus-ca01-r29c1-def-h015
    Hostname 172.31.61.15
    User root

Host j-con-kafka-2 172.31.61.16
    #pus-ca01-r29c2-def-h016
    Hostname 172.31.61.16
    User root

Host j-con-kafka-3 172.31.61.17
    #pus-ca01-r30c6-def-h017
    Hostname 172.31.61.17
    User root

Host j-con-kafka-4 172.31.61.241
    #pus-ca01-r29c1-def-h241
    Hostname 172.31.61.241
    User root

Host j-con-kafka-5 172.31.61.242
    #pus-ca01-r30c6-def-h242
    Hostname 172.31.61.242
    User root

Host j-con-tds-1 10.131.112.67
    Hostname 10.131.112.67

#Host j-con-tds-2-test 10.131.12.20
#    Hostname 10.131.12.20

Host j-con-tds-2 10.131.12.120
    Hostname 10.131.12.120

Host j-con-tds-3 10.131.112.42
    Hostname 10.131.112.42

# ec2 temp ansible for confluent deployment
Host j-ansible j-ans 10.131.2.226
    User centos
    Hostname 10.131.2.226

Host confluent-poc
    Hostname 10.80.72.224
    User ec2-user

Host gitlabdev-secondary 10.80.81.244
    Hostname 10.80.81.244
    User centos
    #IdentityFile ~/.ssh/jump-box

Host gitlab-upgrade 10.80.120.241
    Hostname 10.80.120.241
    User centos
    #IdentityFile ~/.ssh/jump-box

    #Ballena servers
Host ballena-main 192.168.0.32
    Hostname 192.168.0.32
    User root

Host 192.168.0.33 192.168.0.34 192.168.0.35
    User root

Host ballena-docker
    Hostname 192.168.0.255
    User ballena

Host wiremock
    Hostname 10.80.71.249
    User ec2-user
    #IdentityFile ~/.ssh/raj.pem

Host bigip-1
    Hostname 10.231.100.36
    User klieng

Host bigip-2
    #Hostname 10.231.100.38
    Hostname 10.231.100.37
    User klieng

Host xoa
    Hostname 10.80.200.78
    User ubuntu
    IdentityFile ~/.ssh/devops-ec2-launch-key.pem

Host jadm-bigipprod-9
    Hostname 172.31.129.59
    User klieng

Host jadm-bigipprod-11
    Hostname 172.31.129.61
    #User klieng
    User root

Host jadm-bigipprod-12
    Hostname 172.31.129.62
    #User klieng
    User root

Host jadm-ca01dns01
    User root
    Hostname 172.31.34.51

Host jadm-docker
    Hostname 172.31.5.122

Host per-rocky
    User rocky
    Hostname 52.39.154.82

Host per-centos
    User centos
    Hostname 54.191.134.136

Host j-test 172.31.60.191
    Hostname 172.31.60.191
    User advent

# prod env
Host j-tab1 10.131.1.106
    Hostname 10.131.1.106
    User ec2-user
    ProxyCommand ssh jumper -W %h:%p

# prod env
Host j-tab2 10.131.2.37
    Hostname 10.131.2.37
    User ec2-user
    ProxyCommand ssh jumper -W %h:%p

# prod env
Host j-tab3 10.131.2.122
    Hostname 10.131.2.122
    User ec2-user
    ProxyCommand ssh jumper -W %h:%p

# prod env
Host j-tab4 10.131.1.148
    Hostname 10.131.1.148
    User ec2-user
    ProxyCommand ssh jumper -W %h:%p

# prod env
Host 10.131.1.106
    Hostname 10.131.1.106
    User ec2-user
    ProxyCommand ssh jumper -W %h:%p

Host a-sys13
    Hostname 172.31.5.13
    User etadm
    PubkeyAcceptedKeyTypes +ssh-rsa
    KexAlgorithms +diffie-hellman-group1-sha1
    HostkeyAlgorithms ssh-dss,ssh-rsa
    ProxyCommand ssh jumper -W %h:%p

Host loaner 192.168.68.102
    Hostname 192.168.68.102
    User klieng

Host j-net03 172.31.100.249
    Hostname 172.31.100.249
    User advent

    #Host newchronos-pus.cy2vl5a8zk3l.us-west-1.rds.amazonaws.com
    #    User etadm
    #    Hostname newchronos-pus.cy2vl5a8zk3l.us-west-1.rds.amazonaws.com
    #    ProxyCommand ssh jumper -W %h:%p

Host jadm-*
    #IdentityFile ~/.ssh/key_forward
    User etadm
    ProxyCommand ssh jumper -W %h:%p

    #Host bitbucket.org
    #    Hostname bitbucket.org
    #    User blah
    #    IdentityFile ~/.ssh/bamboo8linkxx

Host j-* 10.131.112.* 10.131.12.* 10.131.2.* 172.31.61.*
    #IdentityFile ~/.ssh/key_forward
    PubkeyAcceptedKeyTypes +ssh-rsa
    User centos
    # old way but can't log into more than 1 server at once
    ProxyCommand ssh jumper -W %h:%p
    # try to find new way ].  But don't know exactly
    #ProxyCommand ssh jumper -tt nc %h %p %r

host *
    #user etadm
    user klieng
    forwardagent yes
    Identityfile ~/.ssh/key_forward
    # have this setting as default cause our key is rsa
    PubkeyAcceptedKeyTypes +ssh-rsa,ssh-dss
    KexAlgorithms +diffie-hellman-group1-sha1
    HostKeyAlgorithms +ssh-rsa,ssh-dss
    #addressfamily inet
    compression yes
    serveraliveinterval 240
    serveralivecountmax 10
    UpdateHostKeys yes

    # multiplexing
    # use single tcp connection
    controlmaster auto
    # stores local connection values
    controlpath ~/.ssh/sockets/ssh-%r@%h:%p
    # keep alive for 4 hours
    controlpersist 4h
